.sidebar {
  width: 310px;
  background-color: rgba(171,194,97,0.2);
}

.article {
  width: 870px;
}

.sidebar__title {
  margin: 0;
  width: 100%;
  padding: 15px 23px;
  color: @green;
  font-size: 24px;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: @dark;
}

.sidebar__list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar__item {
  padding: 12px 23px;
  color: @dark;
}

.sidebar__link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
}
